* {
    margin: 0;
    padding: 0;
}
.container {
    background: #ddd;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
.sub_container {
    width: 400px;
    height: 500px;
    background: #b9b9db;
    margin: auto;
    margin-top: 50px;
    padding: 1px;
}
.sub_container2 {
    width: 300px;
    height: 400px;
    background: #3dabf0;
    margin: auto;
    margin-top: 50px;
}
img {
    width: 280px;
    height: 350px;
    margin-left: 10px;
    margin-top: 25px;
}
#joomin,
#joomin1 {
    outline: 0;
    padding: 10px;
    background: blue;
    color: white;
    margin-top: 25px;
}
.containers {
    width: 300px;
    height: 100px;
    background: #ddd;
    margin: auto;
    padding-left: 150px;
}
