*{margin:0;padding:0;}


.divided{display:inline-block;}
.dropdown{display:none;}
.divided:hover .dropdown{display:block;}






































































